<!DOCTYPE html>
<html>
<head>
    <title>Asesino de Monstruos</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="https://kit.fontawesome.com/7e69a7bbf0.js"></script>
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center"><i class="fas fa-angry fa-2x"></i></h1>
            <div class="curarthbar">
                <div class="curarthbar text-center" 
                style="background-color: rgb(11, 149, 184); margin: 0; color: white;"
                :style="{width: saludJugador + '%'}">
                    {{ getSalud(saludJugador) }} 
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center"><i class="fas fa-pastafarianism fa-2x"></i></h1>
            <div class="curarthbar">
                <div class="curarthbar text-center" 
                    style="background-color: rgb(110, 13, 134); margin: 0; color: white;"
                    :style="{width: saludMonstruo + '%'}"
                    >
                    {{ getSalud(saludMonstruo) }} 
                </div>
            </div></div>
    </section>
    <section class="row controls" v-if="!hayUnaPartidaEnJuego">
        <div class="small-12 columns">
            <button id="empezar-partida"  @click="empezarPartida">
                EMPEZAR JUEGO NUEVO</button>
        </div>
    </section>
    <section class="row controls" v-else>
        <div class="small-12 columns">
            <button id="atacar" @click="atacar">ATACAR</button>
            <button id="ataque-especial" @click="ataqueEspecial">ATAQUE ESPECIAL</button>
            <button id="curar" @click="curar">CURAR</button>
            <button id="rendirse" @click="terminarPartida">RENDIRSE</button>
        </div>
    </section>
    <section class="row log" v-if="turnos.length > 0">
        <div class="small-12 columns">

            <ul>
                <li v-for="(turno,index) in turnos"
                :class="cssEvento(turno)"
                :style="{'text-align': turno.esJugador ? 'left' :'right','opacity': index = 1 ? 1 : 0.3}">
                    {{ turno.text }} 
                </li>
            </ul>
            
        </div>
    </section>
</div>
<script src="app.js"></script>
</body>
</html>